@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;
}

input[type="date"] {
  color-scheme: dark;
  background-color: slateblue;
  color: white;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  padding: 8px 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.8;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
}

.video-js .vjs-tech {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #475569; /* slate-600 */
    border-radius: 20px;
  }
}
